In [6]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, f1_score, accuracy_score, confusion_matrix
from sklearn.metrics import roc_curve, auc, roc_auc_score
import re
import string
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
# Read in the data
disaster = pd.read_csv("data/disaster.csv")

disaster.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [38]:
# Cleaning text data
def preprocess(text):
    text = text.lower() 
    text=  text.strip()  
    text=  re.sub(r'<.*?>','', text) 
    # identifying punctuation and special characters to remove from a string
    text = re.sub(r'[^\w\s]','',text)  
    text = re.sub(r'\[[0-9]*\]',' ',text) # removing a citation or a reference 
    text = re.sub(r'\d',' ',text) # remove digits and adds space
    text = re.sub(r'\s+', ' ', text) # collapse multiple space into a single space 
    return text

In [39]:
disaster['text'].apply(preprocess)

0       our deeds are the reason of this earthquake ma...
1                   forest fire near la ronge sask canada
2       all residents asked to shelter in place are be...
3       13000 people receive wildfires evacuation orde...
4       just got sent this photo from ruby alaska as s...
                              ...
7608    two giant cranes holding a bridge collapse int...
7609    aria_ahrary thetawniest the out of control wil...
7610    m194 0104 utc5km s of volcano hawaii httptcozd...
7611    police investigating after an ebike collided w...
7612    the latest more homes razed by northern califo...
Name: text, Length: 7613, dtype: object